@{
    ViewData["Title"] = "Contato";
    ViewData["Message"] = "Informações de contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <span class="badge badge-primary" title="Desenvolvedora: Michelle Brito" alt="Michelle Brito"><h5>Michelle Brito</h5></span><br /><br />
    Rio Grande do Sul, Brasil<br />
</address>

<address>
    <strong>E-mail:</strong> <a href="michellebrito@sou.faccat.br">michellebrito@sou.faccat.br</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/michellebrito01/">Michelle Brito</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/michebritoo/">michebritoo</a>
</address>
